html {
  height: 100%;
  width: 100%;
}

body {
  background-color: lightgray;
}

* {
  text-align: center;
}

div {
  background-color: white;
  width: 900px;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

p, button, input {
  font-size: 18pt;
}

input {
  width: 100px;
}

#labelDiagonal, #labelPerimeter, #labelArea {
  color: yellow;
  background-color: white;
  padding: 5px;
}
